/* CSS STYLE */

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --light-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --light-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --text-dark: #2a2626;
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  font-style: normal;
  src:
    local("Neucha"),
    url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans"),
    url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans"),
    url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  overflow-x: hidden;

  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary);
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

p {
  font-size: 16px;
  line-height: 1.6em;
}

.white {
  color: var(--white);
}

.white-50 {
  color: var(--light-white);
}

.bgc-white {
  background-color: var(--white);
}

.bgc-light {
  background-color: var(--light);
}

.bgc-brown {
  background-color: var(--brown);
}

.bgc-dark {
  background-color: var(--primary-dark);
}

.orange {
  color: var(--primary);
}

.dark {
  color: var(--text-dark);
}

.dark-50 {
  color: var(--light-dark);
}

.brown {
  color: var(--brown);
}

.blue {
  color: var(--blue);
}

.h-72 {
  font-size: 72px;
}

.h-60 {
  font-size: 60px;
}

.h-34 {
  font-size: 34px;
}

.h-52 {
  font-size: 52px;
}

.b-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-width {
  width: 1110px;
  padding: 100px 0;
}

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.p-relative {
  position: relative;
}

.bg-img::before {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

input {
  height: 50px;
  padding: 15px;
}

/* HEADER SECTION START */

.head {
  width: 100%;

  background-color: var(--light);
}

.head-h {
  z-index: 3;

  text-align: left;
}

.head-main-img-pos {
  top: -55px;
  right: -270px;

  width: 100%;
  height: 525px;
}

.head-main-img {
  z-index: 2;

  display: inline-block;
  box-sizing: content-box;

  background-image: url("../assets/images/main.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.col-2 {
  columns: 540px 2;
  column-gap: 30px;
}

.col-2-flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

body > header > div > section > section > p:nth-child(2) {
  break-before: column;
}

.head-col-pos {
  top: -60px;
}

.btn {
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);

  cursor: pointer;
}

.btn:hover {
  background-color: #ea7600;
}

/* HEADER SECTION END */

/* VIDEO SECTION START */

.video-section {
  text-align: center;
}

.video-section-mr {
  margin: 0;
  padding: 0 0 30px;
}

.vs-pos {
  top: 100px;

  padding: 0;

  /* margin-bottom: 100px; */
}

/* VIDEO SECTION END */

/* NAV SECTION START */

.navigation {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  align-items: stretch;
  justify-content: center;
  padding-top: 200px;
}

.navigation-block-head {
  flex-basis: 350px;
  padding: 0;
}

.navigation-block {
  /*  width: 300px; */
  flex-basis: 350px;
  padding: 24px;

  text-decoration: none;
}

.navigation-block:hover {
  background-color: var(--primary);
}

.navigation-block:hover > * {
  color: #fff;
}

.num {
  margin: 0 0 40px;

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

/* NAV SECTION END */

/* BIASES-SECTIONS START */

.how-work {

  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;

  text-transform: uppercase;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, cursive;
  font-style: normal;
  line-height: 1.2em;
}

.p-section {
  margin-top: 30px;

  font-weight: 400;
  font-family: Neucha, cursive;
  font-style: normal;
}

.block {
  top: 0;
  left: 0;

  flex-grow: 0;
  flex-shrink: 9999;
  box-sizing: content-box;

  text-align: left;
}

.va {
  vertical-align: middle;
}

.no-reverse {
  flex-direction: row;
}

/* BIASES-SECTIONS END */

/* FOOTER-SECTION START */

.btn-ft {
  position: relative;
  top: -5px;
  left: -5px;

  width: 70px;
  height: 50px;

  background-color: var(--primary);
}

.btn-ft::before {
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 0;

  width: calc(70px / 2);
  height: calc(50px / 2);

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;

  content: "";
}

.agreement {
  font-size: 12px;
}

.agreement a {
  color: inherit;
  text-decoration: underline;
}

.contact {
  margin-top: 60px;

  color: #000;
  text-align: center;
}

.contact-p {
  margin: 16px 0;

  font-size: 14px;
}

.contact-p:last-child {
  margin-top: 16px;
  margin-bottom: 0;
}

.ft-flex {
  gap: 0;
  align-items: normal;
  justify-content: space-evenly;
}

.ft-flex h3 {
  padding: 55px;
}

.ft-form {
  padding: 38px 0 40px;
}

.ft-form p:first-child {
  font-size: 18px;
}

.ft-form > input {
  width: 432px;

  border: 1px solid #e3e3e3;
}

/* FOOTER-SECTION END */
