/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --light-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --light-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --text-dark: #2a2626;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Neucha;
  src: local('Neucha'),
  url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

.white {
  color: var(--white);
}

.white-50 {
  color: var(--light-white);
}

.bgc-white {
  background-color: var(--white);
}

.bgc-ligth {
  background-color: var(--light);
}

.bgc-brown {
  background-color: var(--brown);
}

.bgc-dark {
  background-color: var(--dark);
}

.orange {
  color: var(--primary);
}

.dark {
  color: var(--dark);
}

.dark-50 {
  color: var(--light-dark);
}

.brown {
  color: var(--brown);
}

.blue {
  color: var(--blue);
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--text-dark);
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

p {
  color: var(--text-dark);
  font-size: 16px;
  line-height: 1.6em;
}

.h-72 {
  font-size: 72px;
}

.h-60 {
  font-size: 60px;
}

.h-34 {
  font-size: 34px;
}

header,
main,
footer {
  width: 1110px;

  text-align: center;
}

header,
footer {
  padding: 100px 0;
}

main > * {
  padding: 100px 0;
}

.bg-img::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/background.png");
  opacity: 10%;
  height: 100%; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.head {
  position: relative;
  background-color: var(--light);
}

.header-h {
  text-align: left;
}

.main-img{
  height: 525px;
  top: 55px;
  position: absolute;
  right: -270px;
}

.col-2 {
  columns: 540px 2;
  column-gap: 30px;
  text-align: left;
}

.btn {
  padding: 12px 24px;
  background-color: var(--primary);
}

.btn > a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
}