/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --light-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --light-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --text-dark: #2a2626;
}

@font-face {
  font-weight: 400;
  font-family: Neucha, cursive;
  font-style: normal;
  src:
    local("Neucha"),
    url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans"),
    url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans"),
    url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  overflow-x: hidden;

  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--text-dark);
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

p {
  color: var(--text-dark);
  font-size: 16px;
  line-height: 1.6em;
}

.white {
  color: var(--white);
}

.white-50 {
  color: var(--light-white);
}

.bgc-white {
  background-color: var(--white);
}

.bgc-ligth {
  background-color: var(--light);
}

.bgc-brown {
  background-color: var(--brown);
}

.bgc-dark {
  background-color: var(--dark);
}

.orange {
  color: var(--primary);
}

.dark {
  color: var(--dark);
}

.dark-50 {
  color: var(--light-dark);
}

.brown {
  color: var(--brown);
}

.blue {
  color: var(--blue);
}

.h-72 {
  font-size: 72px;
}

.h-60 {
  font-size: 60px;
}

.h-34 {
  font-size: 34px;
}

.head-conteiner,
footer,
main > * {
  width: 1110px;
  padding: 100px 0;
}

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

/* HEADER SECTION START */

.head {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: var(--light);
}

.head::before {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;

  width: 100%;
  height: 960px;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.head-section {
  position: relative;
}

.head-h {
  z-index: 3;

  text-align: left;
}

.head-main-img-pos {
  position: relative;
  top: -55px;
  right: -270px;

  width: 100%;
  height: 525px;
}

.head-main-img {
  z-index: 2;

  display: inline-block;
  box-sizing: content-box;

  background-image: url("../assets/images/main.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.col-2 {
  text-align: left;
  columns: 540px 2;
  column-gap: 30px;
}

body > header > div > section > section > p:nth-child(2) {
  break-before: column;
}

.head-col-pos {
  position: relative;
  top: -60px;
}

.btn {
  padding: 12px 24px;

  background-color: var(--primary);
}

.btn > a {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* HEADER SECTION START */
